@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
}

body {
  background-color: #020617; /* slate-950 */
  color: #f8fafc;
}

/* Smooth scrollbar for sidebar */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #334155; border-radius: 9999px; }
